<div class= "main-cont" >
                <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
<img src="assets/image/logo3.png" width="50" height="50" class="d-inline-block align-top" alt=""></a>
                    <a routerLink=""><h2 class = 'menu'>Главная</h2></a>
                    <a routerLink="/about"><h2 class ='menu2'>Факультеты</h2></a>
                    <a routerLink="/galery"><h2 class ='menu3'>Галерея</h2></a>
                    <a routerLink="/chamber"><h2 class ='menu4'>Тайная комната</h2></a>
              
                </nav>
                <router-outlet></router-outlet>
           </div>
